.instruction {
  text-align: center;
  padding: 6em 0;
}
.instruction-content {
  display: inline-block;
  padding: 0 1.5em 1.5em;
  text-align: center;
}
.instruction-text {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}