.message {
  position: relative;
  color: #fff;
  line-height: 1em;
  cursor: pointer;
}
.message-is-notice .message-content {
  background: #8dae28;
}
.message-is-alert .message-content {
  background: #b3000a;
}
.message-is-alert a {
  color: #fff;
  border-bottom: 2px solid rgba(255,255,255,.5);
}
.message-content {
  display: block;
  line-height: 1.5em;
  background: #000;
  body.ltr & {
    padding: .75em 4.5em .75em 1.5em;
  }
  body.rtl & {
    padding: .75em 1.5em .75em 4.5em;
  }
}
.message-toggle {
  position: absolute;
  top: 50%;
  margin-top: -.75em;
  border: 2px solid rgba(255,255,255, .5);
  border-radius: 4em;
  width: 1.5em;
  height: 1.5em;
  transition: border-color .3s;
  cursor: pointer;
  body.ltr & {
    right: 1.5em;
  }
  body.rtl & {
    left: 1.5em;
  }
}
.message-toggle:hover {
  border-color: #fff;
}
.message-toggle i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-style: normal;
  text-align: center;
  font-size: 1.25em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.message-is-notice .message-toggle {
  color: #fff;
}

body > .message {
  position: absolute;
  top: 0;
  height: 3em;
  z-index: 1;
  background: #000;
  body.ltr & {
    right: 0;
    left: 4em;
    margin-left: -1px;
  }
  body.rtl & {
    left: 0;
    right: 4em;
    margin-right: -1px;
  }
}
body > .message .message-content {
  position: relative;
  body.ltr & {
    margin-right: 4.5em;
    padding-right: 1.5em;
  }
  body.rtl & {
    margin-left: 4.5em;
    padding-left: 1.5em;
  }
}
body > .message .message-content:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -.5em;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  body.ltr & {
    right: -.5em;
    border-left: .5em solid #8dae28;
  }
  body.rtl & {
    left: -.5em;
    border-right: .5em solid #8dae28;
  }
}
body > .message-is-alert .message-content:after {
  body.ltr & {
    border-left: .5em solid #b3000a;
  }
  body.rtl & {
    border-right: .5em solid #b3000a;
  }
}

.modal-content .message {
  margin: -1.5em -1.5em 1.5em;
}

@keyframes showTopbarMessage {
  0% {
    -webkit-transform: translateX(6rem);
    -moz-transform: translateX(6rem);
    -ms-transform: translateX(6rem);
    transform: translateX(6rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.topbar .message {
  position: absolute;
  top: 0;
  z-index: 100;
  background: #000;
  overflow: hidden;
  .ltr & {
    right: 0;      
  }
  .rtl & {
    left: 0;
  }
}
.topbar .message-content:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 5px solid transparent;
  body.ltr & {
    right: -7px;
    border-left: 7px solid #8dae28;
  }
  body.rtl & {
    left: -7px;
    border-right: 7px solid #8dae28;
  }
}
.topbar .message-is-alert .message-content:after {
  body.ltr & {
    border-left: 7px solid #b3000a;
  }
  body.rtl & {
    border-right: 7px solid #b3000a;
  }
}
.topbar .message-toggle {
  body.ltr & {
    right: 1.25em;
  }
  body.rtl & {
    left: 1.25em;
  }
}
.topbar .message-content {
  position: relative;
  animation-name: showTopbarMessage;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .3s;
  min-width: 4.5em;
  text-align: center;

  body.ltr & {
    margin-right: 4rem;
    padding-right: 1.5rem;
  }
  body.rtl & {
    margin-left: 4rem;
    padding-left: 1.5em;
  }

}