.search {
  width: 20em;
}
.search:after {
  border-bottom-color: #8dae28;
}
.search-results {
  background: #000;
}
.search-input {
  width: 100%;
  padding: .75em 1em;
  border: 0;
  background: #8dae28;
}
.search-input::-webkit-input-placeholder {
  color: #404f12;  
}
.search-input:-moz-placeholder {
  color: #404f12;  
}
.search-input::-moz-placeholder {
  color: #404f12;  
}
.search-input:-ms-input-placeholder {
  color: #404f12;
}
.search-input:focus {
  outline: 0;
}
.search-section {
  padding: .5em;
  border-bottom: 1px solid rgba(255,255,255, .2);
}
.search-section:last-child {
  border-bottom: 0;
}
.search-section li > a {
  position: relative;
  padding: .5em 1em;
  line-height: 1em;
  color: #fff;
  display: block;
  white-space: nowrap;
}
.search-section a strong,
.search-section a small {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-section .icon {
  display: inline-block;
  vertical-align: middle;
}
.search-section a span {
  display: inline-block;
  vertical-align: middle;
}
.search-section a strong {
  padding-bottom: .125em;
  font-weight: 400;
}
.search-section a small {
  font-size: .7em;
  color: #999;
  padding-top: .125em;
}
.search-section li:hover a,
.search-section li.active a {
  color: #8dae28;
}
.search-section li:hover a small,
.search-section li.active a small {
  color: #fff;
}
.search-section .icon {
  width: 2em;
  text-align: left;
}