@charset "UTF-8";
/************************************************************************************************
CROSSING PARALLELS
-
crossingparallels.nl
tjjjia.work

*************************************************************************************************/
@import url(MyFontsWebfontsKit.css);
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|IBM+Plex+Sans:200,300,400,500,600,700");
/* =================================
resets
--------------------------------- */
/* line 4, src/scss/_resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

/* line 24, src/scss/_resets.scss */
a, a:link, a:visited, a:hover, a:active {
	color: #fff;
	text-decoration: none; }

/* =================================
typography ?? rename to mixins??
--------------------------------- */
/*

h1 {
	@include headline(15);
}
h2 {
	@include headline(12);
}


WAYS OF DEALING WITH LIST ITEMS ---------------------------------

article li {
	margin-left: 0rem;
	text-indent: -3.6rem;
	padding-left: 3.6rem;
}
article ul li::before {
	// content: '>\00a0'
	// content: '+\00a0'
	content: '–\00a0\00a0'
}
article ol {
	counter-reset: i;
}
article ol li::before {
	// content: '>\00a0'
	// content: '+\00a0'
	content: counter(i)'\00a0\00a0';
	counter-increment: i;
}

*/
/* line 1, src/scss/_header.scss */
body > header {
	position: fixed;
	z-index: 50; }
	/* line 17, src/scss/_header.scss */
	body > header svg {
		display: none !important;
		display: inline-block;
		height: 5.2rem;
		margin-right: 3rem;
		margin-top: 1rem; }
	/* line 27, src/scss/_header.scss */
	body > header nav button {
		position: fixed;
		top: 3.4rem;
		right: 2rem;
		outline: none;
		cursor: pointer;
		color: #fff;
		background: none;
		display: block; }
		/* line 39, src/scss/_header.scss */
		body > header nav button.hamburger {
			font-family: "IBM Plex Sans", sans-serif;
			font-weight: 200;
			font-size: 4rem;
			line-height: 4.5rem;
			letter-spacing: .1rem; }
		/* line 42, src/scss/_header.scss */
		body > header nav button.cross {
			font-family: "IBM Plex Sans", sans-serif;
			font-weight: -200;
			font-size: 6rem;
			line-height: 4.5rem;
			letter-spacing: .1rem; }
		/* line 45, src/scss/_header.scss */
		body > header nav button.hidden {
			display: none; }
	/* line 53, src/scss/_header.scss */
	body > header nav ul {
		position: fixed;
		top: 1rem;
		left: 2rem;
		display: block;
		padding-left: 2rem; }
		/* line 63, src/scss/_header.scss */
		body > header nav ul li {
			font-family: "IBM Plex Sans", sans-serif;
			font-weight: 200;
			font-size: 4rem;
			line-height: 9rem;
			letter-spacing: .1rem;
			white-space: nowrap; }
			/* line 67, src/scss/_header.scss */
			body > header nav ul li a {
				border-radius: 1.5rem;
				margin: -1.875rem;
				padding: 0.375rem 1.5rem;
				background-color: rgba(0, 0, 255, 0.6); }
			/* line 71, src/scss/_header.scss */
			body > header nav ul li.is-active a {
				background-color: rgba(187, 187, 187, 0.9); }
		/* line 76, src/scss/_header.scss */
		body > header nav ul.hidden {
			display: none; }

/* line 85, src/scss/_header.scss */
.main.hidden {
	visibility: hidden; }

@media only screen and (min-width: 936px) {
	/* line 93, src/scss/_header.scss */
	.main {
		margin-top: 12rem; }
		/* line 96, src/scss/_header.scss */
		.main.hidden {
			visibility: visible; }
	/* line 101, src/scss/_header.scss */
	body > header {
		position: fixed;
		display: block;
		top: 0;
		width: 100%;
		padding: 3rem 2rem;
		background-color: transparent;
		box-shadow: none; }
		/* line 126, src/scss/_header.scss */
		body > header nav button {
			display: none; }
		/* line 130, src/scss/_header.scss */
		body > header nav ul {
			top: 6rem;
			left: inherit;
			right: 2rem;
			padding-right: 2rem; }
			/* line 131, src/scss/_header.scss */
			body > header nav ul.hidden {
				display: block; }
			/* line 139, src/scss/_header.scss */
			body > header nav ul li {
				display: inline-block;
				margin-left: 4.5rem;
				font-family: "IBM Plex Mono", monospace;
				font-weight: 400;
				font-size: 2rem;
				line-height: 3rem;
				-moz-hyphens: auto;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto; }
				/* line 140, src/scss/_header.scss */
				body > header nav ul li a {
					display: block; } }

/***********************************
*	layout
***********************************/
/* line 4, src/scss/_main.scss */
.main {
	position: relative;
	z-index: 30;
	padding: 3rem 2rem;
	max-width: 140rem;
	font-size: 0px; }
	/* line 11, src/scss/_main.scss */
	.main.about {
		margin-top: 70vh; }

/* line 15, src/scss/_main.scss */
.article-header {
	position: relative;
	display: block; }
	/* line 19, src/scss/_main.scss */
	.article-header > div::first-of-type {
		min-height: 75rem; }
	/* line 22, src/scss/_main.scss */
	.article-header .cover--image {
		background-size: cover;
		height: 75rem;
		width: 100%; }
	/* line 28, src/scss/_main.scss */
	.article-header .cover--title h1 {
		position: absolute;
		bottom: 0;
		font-family: "PermanentHeaURWD-Reg", sans-serif;
		font-size: 12rem;
		font-weight: normal;
		line-height: 9.6rem;
		padding-bottom: 3.6rem;
		letter-spacing: 0.048rem;
		text-transform: uppercase;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		padding-right: 1rem;
		padding-left: 1rem; }

/* line 45, src/scss/_main.scss */
.intro > p {
	padding: 0.5rem 1rem; }

/* line 51, src/scss/_main.scss */
.text > h1, .text h2, .text p, .text ul, .text ol, .text figure, .text img {
	display: block;
	max-width: 100%; }

/* line 56, src/scss/_main.scss */
.text > h1, .text h2, .text p, .text ul, .text ol {
	text-align: left; }

/* line 59, src/scss/_main.scss */
.text > h1, .text h2, .text p, .text ul, .text ol {
	padding: 1.5rem 1rem; }

/* line 77, src/scss/_main.scss */
.text > figure {
	margin: 2.25rem 0; }
	/* line 80, src/scss/_main.scss */
	.text > figure.figure--inline {
		display: block;
		margin-bottom: 1.5rem;
		padding: 0 1rem; }
		/* line 87, src/scss/_main.scss */
		.text > figure.figure--inline img {
			max-width: 18rem;
			max-height: 15rem; }
		/* line 92, src/scss/_main.scss */
		.text > figure.figure--inline a {
			background: none;
			border: none;
			text-decoration: none; }

/* line 99, src/scss/_main.scss */
.text > p:last-of-type {
	margin-bottom: 4.5rem; }

@media only screen and (min-width: 720px) {
	/* line 109, src/scss/_main.scss */
	.text {
		text-align: right; }
		/* line 116, src/scss/_main.scss */
		.text figure, .text figcaption {
			text-align: left;
			padding: 1.5rem 0; }
			/* line 120, src/scss/_main.scss */
			.text figure.figure--inline, .text figcaption.figure--inline {
				margin-left: 33%; }
		/* line 124, src/scss/_main.scss */
		.text > h2 {
			float: left;
			width: 33.33333%; }
		/* line 128, src/scss/_main.scss */
		.text > p, .text ul, .text ol {
			display: inline-block;
			width: 66.66667%;
			margin-left: 33.33333%; }
		/* line 133, src/scss/_main.scss */
		.text > h2 + p,
		.text > h2 + ul,
		.text > h2 + ol,
		.text > h2 + figure {
			margin-left: 0; }
		/* line 145, src/scss/_main.scss */
		.text > p + p::before,
		.text > ul + p::before,
		.text > ol + p::before {
			content: none; }
		/* line 150, src/scss/_main.scss */
		.text > p:last-of-type {
			margin-bottom: 0; } }

/***********************************
*	styling
***********************************/
/* line 160, src/scss/_main.scss */
.intro > p {
	border-top: 0.45rem solid #fff;
	border-bottom: 0.45rem solid #fff; }

/* line 166, src/scss/_main.scss */
.intro > h1, .text > h1 {
	border-top: 0.45rem solid #fff;
	border-bottom: 0.45rem solid #fff;
	padding-top: 1.05rem;
	padding-bottom: 1.05rem; }

/* line 178, src/scss/_main.scss */
.intro > h1 + h2, .text > h1 + h2 {
	border-top: none; }

/* line 189, src/scss/_main.scss */
.intro:last-of-type, .text:last-of-type {
	border-bottom: 0.45rem solid #fff; }

@media only screen and (min-width: 720px) {
	/* line 196, src/scss/_main.scss */
	.text h2, .text p {
		border-top: none;
		border-bottom: none; } }

/***********************************
*	typography
***********************************/
/* line 207, src/scss/_main.scss */
.intro > p {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 200;
	font-size: 4rem;
	line-height: 6rem;
	letter-spacing: .1rem;
	text-align: justify; }

/* line 213, src/scss/_main.scss */
.text h1 {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-transform: uppercase; }

/* line 217, src/scss/_main.scss */
.text h2 {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-transform: uppercase;
	margin-bottom: 0rem; }

/* line 224, src/scss/_main.scss */
.text p, .text li {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; }

/* line 228, src/scss/_main.scss */
.text li:not(::first-line) {
	background: #f00;
	content: '+\00a0\00a0'; }

/* line 233, src/scss/_main.scss */
.text ul li::before {
	content: '–\00a0\00a0'; }

/* line 236, src/scss/_main.scss */
.text ol {
	counter-reset: i; }

/* line 239, src/scss/_main.scss */
.text ol li::before {
	content: counter(i) "  ";
	counter-increment: i; }

/* line 246, src/scss/_main.scss */
.text figcaption {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; }
	/* line 251, src/scss/_main.scss */
	.text figcaption .credits a:link, .text figcaption .credits a:visited,
	.text figcaption .credits a:hover, .text figcaption .credits a:active {
		border-radius: 0.45rem;
		margin: -0.5625rem;
		padding: 0.1125rem 0.45rem;
		border: 0.25rem solid #fff; }

/* line 259, src/scss/_main.scss */
.text a:link, .text a:visited,
.text a:hover, .text a:active {
	border-radius: 0.75rem;
	margin: -0.9375rem;
	padding: 0.1875rem 0.75rem;
	background-color: rgba(72, 72, 255, 0.8);
	border-radius: 0.75rem;
	margin: -0.9375rem;
	padding: 0.1875rem 0.75rem;
	border: 0.25rem solid rgba(255, 255, 255, 0.8); }

@media only screen and (min-width: 720px) {
	/* line 269, src/scss/_main.scss */
	.text p, .text li {
		-moz-hyphens: none;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none; }
	/* line 272, src/scss/_main.scss */
	.text h2 {
		margin-top: 0; } }

/* line 9, src/scss/_list.scss */
section.list ul li .card--main {
	padding: 0.75rem 1rem;
	border-top: 0.45rem solid #fff; }
	/* line 13, src/scss/_list.scss */
	section.list ul li .card--main p {
		font-family: "IBM Plex Mono", monospace;
		font-weight: 400;
		font-size: 2rem;
		line-height: 3rem;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto; }

/* line 17, src/scss/_list.scss */
section.list ul li .card--infobox {
	padding: 0.75rem 1rem;
	border-top: 0.25rem solid #fff; }
	/* line 23, src/scss/_list.scss */
	section.list ul li .card--infobox:last-of-type {
		border-bottom: 0.45rem solid #fff; }
	/* line 27, src/scss/_list.scss */
	section.list ul li .card--infobox p {
		font-family: "IBM Plex Mono", monospace;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 3rem;
		-moz-hyphens: none;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none; }

/* line 33, src/scss/_list.scss */
section.list ul li.article {
	position: relative;
	margin-top: 15rem;
	margin-bottom: 15rem;
	box-shadow: 0px 0px 1rem 0.2rem rgba(0, 0, 255, 0.8); }
	/* line 42, src/scss/_list.scss */
	section.list ul li.article .card--title {
		position: relative; }
		/* line 45, src/scss/_list.scss */
		section.list ul li.article .card--title a {
			display: block;
			min-height: 60rem;
			width: 100%;
			height: 100%; }
		/* line 52, src/scss/_list.scss */
		section.list ul li.article .card--title h3 {
			position: absolute;
			bottom: 0;
			z-index: 5;
			font-family: "PermanentHeaURWD-Reg", sans-serif;
			font-size: 9rem;
			font-weight: normal;
			line-height: 7.2rem;
			padding-bottom: 2.7rem;
			letter-spacing: 0.036rem;
			text-transform: uppercase;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			padding-right: 1rem;
			padding-left: 1rem; }
		/* line 61, src/scss/_list.scss */
		section.list ul li.article .card--title .card--image {
			position: absolute;
			z-index: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover; }

/* line 73, src/scss/_list.scss */
section.list ul li.metascraper {
	max-width: 92.4rem;
	margin-top: 4.5rem;
	margin-bottom: 4.5rem;
	box-shadow: 0px 0px 1rem 0.2rem rgba(0, 0, 255, 0.8); }
	/* line 80, src/scss/_list.scss */
	section.list ul li.metascraper h3 {
		font-family: "PermanentHeaURWD-Reg", sans-serif;
		font-size: 7.5rem;
		font-weight: normal;
		line-height: 6rem;
		padding-bottom: 2.25rem;
		letter-spacing: 0.03rem;
		text-transform: uppercase;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		text-transform: uppercase; }
	/* line 101, src/scss/_list.scss */
	section.list ul li.metascraper a {
		cursor: alias; }

@media only screen and (min-width: 720px) {
	/* line 115, src/scss/_list.scss */
	section.list ul li .card--infobox {
		width: 50%;
		display: inline-block;
		border-bottom: 0.45rem solid #fff; }
	/* line 123, src/scss/_list.scss */
	section.list ul li.article {
		position: relative;
		margin-top: 15rem;
		margin-bottom: 15rem;
		box-shadow: 0px 0px 1rem 0.2rem rgba(0, 0, 255, 0.8); }
		/* line 133, src/scss/_list.scss */
		section.list ul li.article .card--title h3 {
			font-family: "PermanentHeaURWD-Reg", sans-serif;
			font-size: 12rem;
			font-weight: normal;
			line-height: 9.6rem;
			padding-bottom: 3.6rem;
			letter-spacing: 0.048rem;
			text-transform: uppercase;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto; }
	/* line 138, src/scss/_list.scss */
	section.list ul li.metascraper {
		margin-left: 6rem; } }

/* line 2, src/scss/_residents.scss */
main.residents h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 200;
	font-size: 4rem;
	line-height: 6rem;
	letter-spacing: .1rem; }

/* line 5, src/scss/_residents.scss */
main.residents section.list {
	margin-bottom: 3rem; }
	/* line 9, src/scss/_residents.scss */
	main.residents section.list.residency ul li.resident {
		display: inline; }
		/* line 16, src/scss/_residents.scss */
		main.residents section.list.residency ul li.resident h3 {
			display: inline;
			font-family: "PermanentHeaURWD-Reg", sans-serif;
			font-size: 12rem;
			font-weight: normal;
			line-height: 9.6rem;
			padding-bottom: 3.6rem;
			letter-spacing: 0.048rem;
			text-transform: uppercase;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			text-transform: uppercase; }
			/* line 21, src/scss/_residents.scss */
			main.residents section.list.residency ul li.resident h3::after {
				content: ',\00a0\00a0'; }
		/* line 26, src/scss/_residents.scss */
		main.residents section.list.residency ul li.resident:last-of-type h3::after {
			content: '.'; }
	/* line 35, src/scss/_residents.scss */
	main.residents section.list.matching ul li.resident {
		display: inline; }
		/* line 42, src/scss/_residents.scss */
		main.residents section.list.matching ul li.resident h3 {
			display: inline;
			font-family: "IBM Plex Sans", sans-serif;
			font-weight: 200;
			font-size: 4rem;
			line-height: 6rem;
			letter-spacing: .1rem; }
			/* line 46, src/scss/_residents.scss */
			main.residents section.list.matching ul li.resident h3::after {
				content: ',\00a0\00a0'; }
		/* line 51, src/scss/_residents.scss */
		main.residents section.list.matching ul li.resident:last-of-type h3::after {
			content: '.'; }

/***********************************
*	layout
- inherits from _main.scss
***********************************/
/***********************************
*	styling
***********************************/
/***********************************
*	typography
***********************************/
/* line 22, src/scss/_further-reading.scss */
.further-reading h2 {
	font-family: "PermanentHeaURWD-Reg", sans-serif;
	font-size: 12rem;
	font-weight: normal;
	line-height: 9.6rem;
	padding-bottom: 3.6rem;
	letter-spacing: 0.048rem;
	text-transform: uppercase;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	border-bottom: 0.45rem solid #fff; }

/* line 29, src/scss/_further-reading.scss */
.further-reading ul li {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 6rem;
	margin-bottom: 6rem;
	box-shadow: 0px 0px 1rem 0.2rem rgba(0, 0, 255, 0.8); }
	/* line 39, src/scss/_further-reading.scss */
	.further-reading ul li .card--title {
		position: relative; }
		/* line 42, src/scss/_further-reading.scss */
		.further-reading ul li .card--title a {
			display: block;
			min-height: 60rem;
			width: 100%;
			height: 100%; }
		/* line 49, src/scss/_further-reading.scss */
		.further-reading ul li .card--title h3 {
			position: absolute;
			bottom: 0;
			z-index: 5;
			font-family: "PermanentHeaURWD-Reg", sans-serif;
			font-size: 7.5rem;
			font-weight: normal;
			line-height: 6rem;
			padding-bottom: 2.25rem;
			letter-spacing: 0.03rem;
			text-transform: uppercase;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			padding-right: 1rem;
			padding-left: 1rem; }
		/* line 58, src/scss/_further-reading.scss */
		.further-reading ul li .card--title .card--image {
			position: absolute;
			z-index: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover; }
	/* line 69, src/scss/_further-reading.scss */
	.further-reading ul li .card--main {
		padding: 0.75rem 1rem;
		border-top: 0.25rem solid #fff; }
		/* line 73, src/scss/_further-reading.scss */
		.further-reading ul li .card--main p {
			font-family: "IBM Plex Mono", monospace;
			font-weight: 400;
			font-size: 2rem;
			line-height: 3rem;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto; }
	/* line 78, src/scss/_further-reading.scss */
	.further-reading ul li .card--infobox {
		padding: 0.75rem 1rem;
		border-top: 0.25rem solid #fff; }
		/* line 82, src/scss/_further-reading.scss */
		.further-reading ul li .card--infobox:last-of-type {
			border-bottom: 0.45rem solid #fff; }
		/* line 86, src/scss/_further-reading.scss */
		.further-reading ul li .card--infobox p {
			font-family: "IBM Plex Mono", monospace;
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 3rem;
			-moz-hyphens: none;
			-webkit-hyphens: none;
			-ms-hyphens: none;
			hyphens: none; }

@media only screen and (min-width: 720px) {
	/* line 95, src/scss/_further-reading.scss */
	.further-reading ul li {
		display: inline-block;
		vertical-align: top;
		width: 33.3333%; }
		/* line 100, src/scss/_further-reading.scss */
		.further-reading ul li:not(:last-of-type) {
			padding-right: .66667rem; }
		/* line 103, src/scss/_further-reading.scss */
		.further-reading ul li:not(:first-of-type) {
			padding-left: .66667rem; } }

/* line 1, src/scss/_footer.scss */
body > footer {
	position: relative;
	z-index: 30;
	width: 100%;
	padding: 4rem 2rem;
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; }
	/* line 8, src/scss/_footer.scss */
	body > footer svg.logo-todaysart {
		height: 2.2rem;
		margin-bottom: .25rem;
		vertical-align: bottom;
		/* because y descender */ }
	/* line 13, src/scss/_footer.scss */
	body > footer svg.logo-tudelft {
		height: 3.4rem;
		margin-top: -2rem; }

/* line 33, src/scss/index.scss */
html, body {
	font-size: 7px;
	background: #00f;
	color: #fff; }

/* line 38, src/scss/index.scss */
svg {
	fill: #fff; }
	/* line 40, src/scss/index.scss */
	svg text {
		overflow: hidden;
		fill: transparent;
		opacity: 0;
		white-space: nowrap; }

@media only screen and (min-width: 720px) {
	/* line 51, src/scss/index.scss */
	html, body {
		font-size: 8px; } }

/*
zindex:

	50
		header
	30
		main.current-affairs
		footer
	20
		mobius
	10
		main (other)
	0
		body
*/
/* line 72, src/scss/index.scss */
#mobius {
	position: fixed;
	top: 0;
	z-index: 20;
	pointer-events: none; }
	/* line 78, src/scss/index.scss */
	#mobius.interaction--pointer--important {
		pointer-events: initial !important;
		cursor: pointer !important; }

/* line 85, src/scss/index.scss */
pre {
	font-size: 1rem; }
