.structure {
  padding-bottom: .5em;
}
.structure-entry {
  background: #fff;
  border: 2px solid #ddd;
  margin-bottom: .5em;
}
.structure-readonly .structure-entry {
  background: #efefef;
  color: #777;
}
.structure-entry:last-child {
  margin-bottom: 0;
}
.structure-entry-content {
  padding: 1em 1.5em;
  border-bottom: 1px solid #efefef;
}
.structure[data-sortable=true] .structure-entry-content {
  cursor: move;
}
.structure-entry-options .btn {
  padding: .75em 1.5em;
  width: 50%;
  float: left;
  border-right: 1px solid #efefef;
}
.structure-empty {
  padding: 1.5em;
  background: #ddd;
}
.fileview-sidebar .structure-empty {
  background: none;
  border-radius: 5px;
  border: 1px dashed #ddd;
  padding: 1rem 1.5rem 1.25rem;
}
.structure-empty a {
  border-bottom: 2px solid #aaa;
  margin-left: .5em;
}
.fileview-sidebar .structure-empty a {
  display: inline-block;
  margin-left: 0;
}
.structure-empty a:hover {
  border-color: #000;
}
.structure-add-button {
  cursor: pointer;
}


/* Table */
.structure-table {
  width: 100%;
  border-spacing: 0;
  border: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  table-layout: fixed;
}
.structure-table td, .structure-table th {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}
.structure-readonly td, .structure-readonly th {
  background: #efefef;
  color: #777;
}
.structure-table th {
  padding: .5em;
  font-weight: 400;
  color: #777;
  font-style: italic;
}
.structure-table td a, .structure-table td span {
  display: block;
  padding: .5em;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
structure[data-sortable=true] .structure-table td a {
  cursor: move;  
}
.structure-table-options {
  width: 3rem;
  text-align: center;
}
.structure-table .structure-table-options a {
  text-align: center;
  cursor: pointer;
}

.structure-sortable-helper {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
